* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}

#search-loop {
    position: fixed;
    z-index: 10;
    right: 7%;
    top: 1em;
}

#search-loop:hover {
    cursor: pointer;
}

.search-bar-label {
    display: none;
    position: fixed;
    z-index: 10;
}

.search-bar {
    position: fixed;
    z-index: 10;
    right: 7%;
    top: 0.7em;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    resize: none;
    background: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%, rgba(219, 219, 219, 1) 100%);
    width: 0px;
    height: 0px;
    transition: width 0.5s ease, height 0.5s ease, padding 0.5s ease;
}

.search-bar-active {
    width: 86%;
    height: 10%;
    padding: 5%;
}

body {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(135, 136, 136, 1) 100%);
}

.wrapper {
    position: relative;
    max-width: 90%;
    margin: 10% auto;
}

.todo-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    padding: 5% 0;
    background-color: rgb(221, 101, 32);
    border-radius: 1px;
    box-shadow: 1px 1px 2px rgb(163, 165, 165);
}

.todo-input-area-label {
    font-size: 1.7em;
    margin-bottom: 0.3em;
    margin-left: 5%;
    font-weight: bold;
}

#todo-input-area {
    width: 100%;
    height: 5em;
    resize: none;
    font-size: 1.2em;
    padding: 5%;
    border: none;
    background: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%, rgba(219, 219, 219, 1) 100%);
}

button {
    align-self: flex-end;
    padding: 1em;
    border: none;
    border-radius: 1px;
    margin-top: 1em;
    margin-right: 5%;
    background-color: rgba(4, 12, 29, 0.616);
    color: white;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.todo-list {
    margin-bottom: 10%;
    padding: 5% 0;
    background-color: rgb(221, 101, 32);
    border-radius: 1px;
    box-shadow: 1px 1px 2px rgb(163, 165, 165);
}

.todo-list-header {
    padding: 0 5%;
}

h2 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.todo-task {
    background: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%, rgba(219, 219, 219, 1) 100%);
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-task-first-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todo-task-task {
    font-size: 1.4em;
    margin-left: 0.5em;
}

.todo-task-date {
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0.5em;
    align-self: flex-end;
}


/* .todo-task-done {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

i {
    margin: 1px 0;
}

i:hover {
    cursor: pointer;
}